VRHReaderFrameworkCembritProcessor/Service References/CembritWS/RFIDService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RFIDService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.77.11/Log4Pro_CEMBRIT/WCF/RFID.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.77.11/Log4Pro_CEMBRIT/WCF/RFID.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.77.11/Log4Pro_CEMBRIT/WCF/RFID.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Log4Pro.WCF.RFID" />
      <xsd:import schemaLocation="http://192.168.77.11/Log4Pro_CEMBRIT/WCF/RFID.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Log4Pro.WCF.PDA.Results" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRFIDService_TagsReaded_InputMessage">
    <wsdl:part name="parameters" element="tns:TagsReaded" />
  </wsdl:message>
  <wsdl:message name="IRFIDService_TagsReaded_OutputMessage">
    <wsdl:part name="parameters" element="tns:TagsReadedResponse" />
  </wsdl:message>
  <wsdl:message name="IRFIDService_InputChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:InputChanged" />
  </wsdl:message>
  <wsdl:message name="IRFIDService_InputChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:InputChangedResponse" />
  </wsdl:message>
  <wsdl:portType name="IRFIDService">
    <wsdl:operation name="TagsReaded">
      <wsdl:input wsaw:Action="http://tempuri.org/IRFIDService/TagsReaded" message="tns:IRFIDService_TagsReaded_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRFIDService/TagsReadedResponse" message="tns:IRFIDService_TagsReaded_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InputChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IRFIDService/InputChanged" message="tns:IRFIDService_InputChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRFIDService/InputChangedResponse" message="tns:IRFIDService_InputChanged_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRFIDService" type="tns:IRFIDService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TagsReaded">
      <soap:operation soapAction="http://tempuri.org/IRFIDService/TagsReaded" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InputChanged">
      <soap:operation soapAction="http://tempuri.org/IRFIDService/InputChanged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RFIDService">
    <wsdl:port name="BasicHttpBinding_IRFIDService" binding="tns:BasicHttpBinding_IRFIDService">
      <soap:address location="http://192.168.77.11/Log4Pro_CEMBRIT/WCF/RFID.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>